---
import MainLayout from '../../layouts/MainLayout.astro';
import membershipFiles from '../../data/membershipFiles.json';
---

<MainLayout title="Membership Information - Digital Twin Center">
  <section class="max-w-6xl mx-auto px-4 py-16">
    <h1 class="text-4xl font-bold font-roboto-condensed mb-8">Membership Information</h1>
    <ul class="surface rounded-lg divide-y divide-gray-200">
      {membershipFiles.map((file) => (
        <li class="px-6 py-4">
          <a href={file.link} class="font-semibold text-dtc-orange-text hover:underline">{file.title}</a>
          <p class="text-sm text-gray-600 mt-1">{file.description}</p>
        </li>
      ))}
    </ul>
  </section>
</MainLayout>
