---
import { Layout } from '../components/Layout.astro';
import membershipFiles from '../data/membershipFiles.json';

---

<Layout>
  <h1>Membership Information</h1>
  <ul>
    {membershipFiles.map(file => (
      <li key={file.id}>{file.name}</li>
    ))}
  </ul>
</Layout>